/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
nav {
  height: 50px;
  text-align: center;
  margin-bottom: 5%;
}

.account, .history {
  float: left;
  width: 48%;
  height: 500px;
  margin: 0 1%;
  border: solid 10px;
  border-radius: 25px;
  box-shadow: 1;
  background: rgb(217, 215, 215);
}

.balance {
  margin: 12% 0 0 19%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.account h1 {
  text-align: center;
  padding-right: 25%;
}

.description, .amount,
select, button {
  display: block;
  width: 75%;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 5px;
}

p, input, select, button {
  font-size: 25px;
}

p, select, button {
  font-weight: bold;
}

select, button {
  background: rgb(52, 158, 207);
}

.account h1 {
  text-align: center;
  padding-right: 25%;
}

.history h1 {
  text-align: center;
  border-bottom: solid 2px;
  padding-bottom: 2%;
}

select {
  text-align: center;
}

.transaction {
  overflow-y: auto;
  height: 385px;
}

p {
  margin: 30px 0;
  border-bottom: solid 2px black;
  padding-bottom: 20px;
  padding-left: 2%;
  color: rgb(52, 158, 207)
}

/******************************************
/@media
/*******************************************/
@media (max-width: 400px) {
  .transaction {
    height: 350px;
  }
}

@media (max-width: 700px) {
  .balance {
    margin-top: 27%;
  }
}

@media (max-width: 900px) {
  .account, .history {
    float: none;
    width: auto;
    margin: 0 10%;
  }

  .account {
    margin-bottom: 5%;
  }
}